*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
font-size:20px;
font-family:"Nunito",sans-serif;
background-image:url('1.jpg');
}
.input{
text-align:center;
margin:100px
}
input[type="text"]{
height:50px;
width:600px;
background:#e7e7e7;
font-family:"Nunito",sans-serif;
font-weight:bold;
font-size:20px;
border:none;
border-radius:2px;
padding:10px 10px;
}
input[type="submit"]{
height:50px;
width:100px;
background:#e7e7e7;
font-family:"Nunito",sans-serif;
font-weight:bold;
font-size:20px;
border:none;
border-radius:2px;
padding:10px 10px;
}

.display{
position:relative;
left:520px;
text-align:center;
height:100px;
width:300px;
background:#e7e7e7;
font-family:"Nunito",sans-serif;
font-weight:bold;
font-size:20px;
border:none;
border-radius:2px;
padding:10px 10px;
}